// Colors
$color-white: #fff;
$color-primary-blue: #4737ff;
$color-dark-black: #222222;
$color-light-gray: #d7d4d4;
$color-dirty-yellow: #c6b393;

// Text Sizes
$small-text-size: 1.4rem;
$regular-text-size: 1.8rem;

// Margins
$mg-medium: 4rem;
